# ignore all dot files/directories at the root level.
/.* 

!.gitignore
!.githooks/
!.vscode/
!.python-version

# Python
__pycache__/
*.egg-info/

# real test data
*_test_data*

# my scratch space commit message file
/msg